h2{
    color: grey;
    font-weight: normal;
    padding-left: 50px;
}

div.regionList {
  overflow: scroll;
}

div.regionList ul li {
  list-style-type: none;
  padding: 10px;
  border-bottom: 1px solid #dddddd;
}